* {
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    justify-content: center;
    min-height: 100vh; 
    font-family: Helvetica, Arial, sans-serif;
}
h1 {
    margin: 0 0 10px; 
}
.error-message {
    font-size: 12px;
    color: red; 
}
#loginForm input {
    border: 1px solid #dddfe2;
    color: #1d2129;
    line-height: 16px;
    vertical-align: middle;
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    width: 100%;
}
.login-container {
    border-radius: 8px;
    max-width: 396px;
    width: 100%;
    margin: 0 auto; 
    padding: 50px 16px;
    border: 1px solid #dddfe2;
}
.hidden {
    display: none;
}
.btn-primary {
    background-color: #1877f2;
    border: 0;
    color: #fff;
    width: 100%;
    margin-top: 15px;
    font-size: 20px;
    padding: 10px;
    font-weight: 700;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    line-height: 30px;
}

.box-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 15px;
}

body{
    background-image: url('./login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.5);
}

footer {
    color: #000;
    text-align: start;
    margin-left: 20px;
    position: fixed;
    bottom: 0%;
    width: 100%;
    font-size: 12px;
}