body {
font-family: Helvetica, Arial, sans-serif;
background-color: #f4f4f4;
margin: 0;
min-height: 100vh;
overflow-y: auto; 
display: flex;
align-items: center;
flex-flow: column;
}
* {
    box-sizing: border-box;
}
#frame {
    max-width: 340px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#converterPanel {
    width: 100%;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#numericKeypad {
    display: grid;
    width: 300px;
    height: 260px;
    font-size: 16px;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.converterButton {
    width: 100%; 
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #e5e4e4;
    border-color: #d9d9d9; 
} 

.ac{
    background-color: #ff0000;
    border-color: #ff00009a;
}

.del {
    background-color: #ff7300;
    border-color: #ff7300c9;
}
.converterButton.disable {
    opacity: .5;
    pointer-events: none;
}

.logout {
    border: 0;
    margin: 10px;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    background-color: #697a91;
    line-height: 30px;
    text-align: center;
}

body{
    background-image: url('./numeral.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.5);
}

footer {
    color: #000;
    text-align: start;
    margin-left: 20px;
    position: fixed;
    bottom: 0%;
    width: 100%;
    font-size: 12px;
}