body {
font-family: Arial, sans-serif;
background-color: #f4f4f4;
margin: 0;
min-height: 100vh;
overflow-y: auto; 
display: flex;
align-items: center;
flex-flow: column;
}
* {
    box-sizing: border-box;
}
#frame {
    max-width: 340px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#converterPanel {
    max-width: 300px;
    width: 100%;
    height: 500px;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#numericKeypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.converterButton {
    width: 100%; 
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #e5e4e4;
    transition: all ease .3s; 
    border-color: #d9d9d9; 
    border-width: 1px 1px 5px 1px; 
} 
.converterButton.disable {
    opacity: .5;
    pointer-events: none;
}
.convertButtonAC{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    background-color: red;
}

.convertButtondl {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    background-color: orange;
}

.logout {
    margin: 10px;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

